@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

::-webkit-scrollbar{
    display: none;
}

.scrollbar-visible {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #4C5AE3 #E5E7EB;
    overflow-y: scroll; /* Ensures scrollbar is always visible */
}